.question-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    border-radius: 15px;
    height: 60%;
    padding:15px;
   background-color: #252d4a;
   box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

/* @media screen and (min-width:776px){
    .question-container{
        width: 70%;
        height:70%;
    }
} */

.heading-container
{
    display: flex;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    color:#ffffff;
    padding:0px
}
.heading
{
    padding-top: 0px;
   
   margin-bottom:20px;
   padding-bottom:25px;

}
.score-container
{
    padding:0px;
    margin-top:15px
}
.time-container
{
    margin-top:15px
}
.score
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}
.count{
    padding-top: 0px;
    margin-top:0px;
    font-weight: bold;
}
.question
{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color:#ffffff;
    
}
.option-container
{
    /* list-style-type: none; */
    padding-left:10px;
    padding-left:10px;
    margin-left:15px;
    
}
.option{
    font-size: 20px;
    margin-bottom: 12px;
    /* margin-left: 10px; */
    
    color:#ffffff;
    cursor: pointer;
    margin-top:0px;
    border-width:1px;
    border-style: solid;
    padding:7px;
    border-radius: 7px;
}
.correct-ans{
    
    font-size: 20px;
    margin-bottom: 12px;
    /* margin-left: 10px; */
    
    color:#ffffff;
    cursor: pointer;
    margin-top:0px;
    border-width:1px;
    border-style: solid;
    padding:7px;
    border-radius: 7px;
    background-color: green;
}
.score-card{
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}